.warehouse-zone{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.hidden-categories{
    height: 0;
    overflow: hidden;
}

.hidden-categories.show{
    overflow: auto;
    height: 100%;
}